// Basic Colors & Color Palette
$white: #FFF;
$black: #000;

// # 1
$dark-blue: #261C64;
$light-blue: #E7E6F7;
$soft-pink: #E3D0D8;
$soft-dark-pink: #AEA3B0;

// # 2
$mustard: #FFC857;
$gunmetal-brown: #22333B;
$gunmetal-blue: #282F44;
$dark-gunmetal: #191D32;
$blue-de-france: #2892D7;

// # 3
$bright-turquoise: #0AFFC8;
$rose-white: #FFF7F7;
$mystic: #DADADA;
$midnight-blue: #204969;

// ********************************* //
// ** Colors to style the website ** //
// ********************************* //
$primary-color: $bright-turquoise;
$primary-color-darker: #08CCA0;
$secondary-color: $midnight-blue;

$font-color: $black;

// Theme colors with good contrast
$dark-color: $midnight-blue;
$light-color: $rose-white;
$grey-color: $mystic;

// Menu Items
$color-aperos: #A900FF;
$color-beers: #E6D300;
$color-sodas: #6A1F1E;
$color-pastas: #FF0A55;
$color-salads: rgb(8, 204, 178);
$color-snacks: #FFC600;
$color-meat: #FF2B00;
$color-fish: #005DFF;
$color-dessert: #FF7970;
$color-kids: #00DCFF;
$color-main: #FF2B00;
$color-starters: rgb(8, 204, 178);
$color-drinks: rgb(0, 132, 255);

// Gradients